a{
	display: block;
	margin: auto;
	cursor: pointer;
}
a:after{
	display: block;
	content: "";
	width: 100%;
}
.form-group, .container{
	text-align: center;
}
.container{
	margin-top:50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.form-group *{
	margin: 15px auto;
	text-align: center;
}

.input-lg{
	max-width: 600px;
}
.short-url{
	max-width: 300px;
}